.p {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Unna', serif;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rowdies', cursive;
}